/* This file is for your main application css. */

@import "./phoenix.css";

.file-list {
  display: block;
  float: left;
  width: 20%;
  height: 100%;
  overflow: auto;
  border-right: 1px solid #999;
}

.content {
  width: 75%;
  display: block;
  float: right;
}

.file-list li {
  list-style: none;
}
li.submenu {         
  list-style: none;            
  cursor: pointer;             
}
li.submenu-closed div {
  display: none;
}


li.submenu:before {
    content: "+";
    margin-right: 4px;
}

/**
 * Editor
 */

#editor-wrapper {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#editor-inner {
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered */
  padding: 20px;
  height: 90%;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

#editor-inner form {
  height: 100%;
}

#editor-inner textarea {
  font-family: 'Roboto Mono', monospace;
  height: 90%;
}

#editor-inner button {
  float: right;
}

