<div class="file-list"><%= render("file_list.html", files: @files) %></div>
<div class="content">
  <h1><%= @file.title %></h1>

  <div class="file_contents">
    <%= if @file.type == "md" do %>
      <%= raw(Earmark.as_html!(BrainWeb.StripUTF8.strip_utf(@file.contents))) %>
      <%= else %>
      <%= @file.contents %>
    <%= end %>
  </div>
</div>
